{% extends 'mainApp/layout.html' %}

{% block content %}
{% load custom_filters %}
{% load static %}
<div class="service-container col-10 offset-1">
    <h1 class="text-center">Graphics</h1>
    <div class="row">
        {% for graphic in graphics %}
        
            {% if graphic.0.discount and graphic.0.discount >= 0 %}
                <!-- if there is a discount -->
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-1">
                        <a href="{% url 'showcase' graphic.0.id %}">
                            <div class="img-container">
                                <img src="{% get_media_prefix %}{{graphic.0.media}}" class="img-fluid element" alt="..." style="max-height: 100%;">
                            </div>
                        </a>
                        <div class="card-body">
                            <span class="offer">
                                {{graphic.0.discount}}% OFF
                            </span>

                            <h6 class="card-text">{{ graphic.0.title }}</h6>
                            {% if graphic.0.cost <= 0 %}
                            <h5> Free </h5>
                            {% else %}
                            <h5>
                                <strike class="text-secondary">${{ graphic.0.cost }}</strike>
                                ${{graphic.0.cost|discount:graphic.0.discount}}
                            </h5>
                            {% endif %}
                            <a href="{% url 'index' %}?q={{graphic.0.tag}}" class="text-secondary" style="text-decoration: none;">
                                <i class="bi bi-tags"></i>
                                {{graphic.0.tag}}
                            </a><br>
                            {% if user.is_authenticated %}
                                <div class="trend-div" id="f5a4dbc7-eda6-43f4-bf09-25f94e5ea347_trend_status" title="Trending status" data-value="1">
                                    <form action="{% url 'remove_from_wishlist' graphic.0.id %}" method="get">
                                        {% if graphic.1 %}
                                            <input type="hidden" name="wishlistData" value="0">
                                        {% else %}
                                            <input type="hidden" name="wishlistData" value="1">
                                        {% endif %}
                                        
                                        <button type="submit" style="background-color: white; border: none;">
                                            {% if graphic.1 %}
                                                <i class="bi bi-suit-heart-fill" style="color: rgb(199, 0, 0); font-weight: bold;"></i>
                                            {% else %}
                                                <i class="bi bi-suit-heart" style="color: rgb(0, 0, 0); font-weight: bold;"></i>
                                            {% endif %}
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                            <!-- <span class="text-secondary"><i class="bi bi-star"></i> 3.5 out of 5</span> -->
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3" >
                    <div class="card h-100 border-1">
                        <a href="{% url 'showcase' graphic.0.id %}">
                            <div class="img-container">
                                <img src="{% get_media_prefix %}{{graphic.0.media}}" class="img-fluid element" alt="..." style="max-height: 100%;">
                            </div>
                        </a>
                        <div class="card-body">
                            <h6 class="card-text">{{graphic.0.title}}</h6>
                            {% if graphic.0.cost <= 0 %}
                            <h5> Free </h5>
                            {% else %}
                            <h5>${{graphic.0.cost}}</h5>
                            {% endif %}
                            <a href="{% url 'index' %}?q={{graphic.0.tag}}" class="text-secondary" style="text-decoration: none;">
                                <i class="bi bi-tags"></i>
                                {{graphic.0.tag}}
                            </a><br>
                            {% if user.is_authenticated %}
                                <div class="trend-div" id="f5a4dbc7-eda6-43f4-bf09-25f94e5ea347_trend_status" title="Trending status" data-value="1">
                                    <form action="{% url 'add_to_wishlist' graphic.0.id %}" method="get">
                                        {% if graphic.1 %}
                                            <input type="hidden" name="wishlistData" value="0">
                                        {% else %}
                                            <input type="hidden" name="wishlistData" value="1">
                                        {% endif %}
                                        
                                        <button type="submit" style="background-color: white; border: none;">
                                            {% if graphic.1 %}
                                                <i class="bi bi-suit-heart-fill" style="color: rgb(199, 0, 0); font-weight: bold;"></i>
                                            {% else %}
                                                <i class="bi bi-suit-heart" style="color: rgb(0, 0, 0); font-weight: bold;"></i>
                                            {% endif %}
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                            <!-- <span class="text-secondary"><i class="bi bi-star"></i> 4.5 out of 5</span> -->
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>
</div>

{% endblock %}